body
{
    background-color: whitesmoke
}

.box
{
background-color: tomato;
width: 80%;
height: 90%;
text-align: center;
margin-top: 40px;
margin-left: auto;
margin-right: auto;
margin-bottom: 40px;
}

.bio
{
    font-family: Arial, sans-serif;
    font-size: 30%;
    color: white;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.pic
{
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

.name
{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50%;
    color: white;
}

.email
{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50%;
    color: white;
}

.github
{
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 40%;
    color: black;
}